%h2
  Search for items at or below reorder point:
=form_tag '/display_reorder_table', method: 'get' do

  =submit_tag 'Cancel', id: 'cancel_btn_id', class: 'btn btn-default'
  =submit_tag 'Search', id: 'display_reorder_table_btn_id', class: 'btn btn-primary'
