%h2
  Search for items at or below reorder point:
=form_tag '/display_reorder_table', method: 'get' do
  =submit_tag 'Display in page', id: 'display_reorder_table_btn_id', class: 'btn btn-primary'
%p
=form_tag '/data.csv', method: 'get' do
  =submit_tag 'Export to CSV', id: 'display_reorder_table_csv_btn_id', class: 'btn btn-primary'
%p
=submit_tag 'Cancel', id: 'cancel_btn_id', class: 'btn btn-default'
