%h2
  Enter User
=form_tag '/manage_user_result', method: 'get' do
  %label{for: :user_name_id}
    %h3
      User Name
  =text_field_tag :user_string, nil, id: 'user_name_id', class: 'form-control input-sm'
  <br>
  =submit_tag 'Create', id: 'create_btn_id', class: 'btn btn-primary'
  =submit_tag 'Retire', id: 'retire_btn_id', class: 'btn btn-primary'
  =submit_tag 'Clear Password', id: 'clear_password_id', class: 'btn btn-primary'
  =submit_tag 'Make Admin', id: 'make_admin_id', class: 'btn btn-primary'
  =submit_tag 'Remove Admin', id: 'remove_admin_id', class: 'btn btn-primary'
