%h1
  All Users
%table{ 'id' => "the_table_id", 'data-height' => "480", 'data-toggle' => "table", 'data-click-to-select' => "true", "data-url" => "all_users_as_json.json", "data-show-refresh" => "true", "data-show-columns" => "true", "data-striped" =>"true", "data-search" => "true"}
  <thead id="sku_table_head_id">
  <tr>
  <th data-sortable="true" data-field="user" id="name_header_id">Name</th>
  <th data-sortable="true" data-field="comment" id="comment_header_id">Comment</th>
  <th data-sortable="true" data-field="capabilities" id="capability_header_id">Capabilities</th>

  </tr>
  </thead>
