%h2
  Enter User
=form_tag '/manage_user_result', method: 'get' do
  %label{for: :user_string_id} User Name
  =text_field_tag :user_string, nil, id: :user_string_id
  %br
  =submit_tag 'Create'
  =submit_tag 'Retire'
  =submit_tag 'Clear Password'
  =submit_tag 'Make Admin'
  =submit_tag 'Remove Admin'
  =submit_tag 'View Details'
