%h2
  Enter or update User
=form_tag '/manage_user_result', method: 'get' do
  %div.row
    %div.col-md-3
      %label{for: :sku_string_id}
        %h3
          Name
        =text_field_tag :user_string, @pre_pop_user, id: :user_string_id, class: 'form-control input-sm'
    %div.col-md-9
      %label{for: :comment_string_id}
      %h3
        Comment
      =text_field_tag :comment_string, @pre_pop_comment, id: :comment_string_id, class: 'form-control input-sm'

  %div.row
    %div.col-md-2
      %label{for: :is_retired_string_id}
      %h3
        Is Retired?
      =check_box_tag :is_retired_string, nil, @pre_pop_is_retired, id: :is_retired_string_id, class: 'form-control input-sm'

    %div.col-md-2
      %label{for: :is_admin_string_id}
      %h3
        Is Admin?
      =check_box_tag :is_admin_string, nil, @pre_pop_is_admin, id: :is_admin_string_id, class: 'form-control input-sm'

    %div.col-md-2
      %label{for: :reset_password_string_id}
      %h3
        Reset password?
      =check_box_tag :reset_password_string, nil, nil, id: :reset_password_string_id, class: 'form-control input-sm'


    %div.col-md-6
  %br
  %br
  =submit_tag 'Cancel', id: "cancel_btn_id", class: 'btn'
  =submit_tag 'Create', id: "create_btn_id", class: 'btn btn-primary'
  =submit_tag 'Update', id: "update_btn_id", class: 'btn btn-primary'
  =submit_tag 'Refresh', id: "refresh_btn_id", class: 'btn btn-primary'
  =submit_tag 'List All Users', id: 'list_all_btn_id', class: 'btn btn-primary'
