%h2
  Enter SKU (comma separated if multiple)
=form_tag '/display_skus', method: 'get' do
  %div.row
    %div.col-md-6
      =text_field_tag(:sku_string, (session.key?(:sku_string) ? session[:sku_string] : ''), class: 'form-control input-sm')
    %div.col-md-6
  %br
  %br
  %div.row
    %div.col-md-4
      =button_tag 'Cancel', id: "cancel_btn_id", class: 'btn btn-default'
      =submit_tag 'Submit', id: "submit_btn_id", class: 'btn btn-primary'
    %div.col-md-8
