%h2
  Enter SKU
=form_tag '/manage_sku_result', method: 'get' do
  %label{for: :sku_string_id}
  %h3
    SKU
  =text_field_tag :sku_string, nil, id: :sku_string_id, class: 'form-control input-sm'
  %label{for: :stock_level_string_id}
  %h3
    Re-order point
  =text_field_tag :stock_level_string, nil, id: :stock_level_string_id, class: 'form-control input-sm'
  %br
  =submit_tag 'Create', class: 'btn btn-primary'
  =submit_tag 'Update re-order point', class: 'btn btn-primary'
  =submit_tag 'Retire', class: 'btn btn-primary'
  =submit_tag 'View Details', class: 'btn btn-primary'
