%h2
  Enter SKU (comma separated if multiple)
=form_tag '/display_skus', method: 'get' do
  =text_field_tag(:sku_string, (session.key?(:sku_string) ? session[:sku_string] : ''), class: 'form-control input-sm')
  =submit_tag :Submit, class: 'btn btn-primary'
