<h1>SKUs found</h1>
<table id="the_table_id" data-toggle="table" data-click-to-select="true" data-id_field="index" data-url="sku_found.json" data-show-refresh="true" data-show-columns="true" data-striped="true" data-search="true">
<thead>
<tr>
<th data-sortable="true" data-field="sku">SKU</th>
<th data-sortable="true" data-field="qty">Quantity</th>
<th data-sortable="true" data-field="loc">Location</th>
</tr>
</thead>
</table>
