%h1
  All SKUs
%table{ 'id' => "the_table_id", 'data-height' => "480", 'data-toggle' => "table", 'data-click-to-select' => "true", "data-url" => "all_skus_as_json.json/#{URI.encode(@a_sku_pattern)}", "data-show-refresh" => "true", "data-show-columns" => "true", "data-striped" =>"true", "data-search" => "true"}
  <thead id="sku_table_head_id">
  <tr>
  <th data-sortable="true" data-field="sku_num" id="sku_header_id">SKU</th>
  <th data-sortable="true" data-field="bu" id="bu_header_id">BU</th>
  <th data-sortable="true" data-field="description" id="description_header_id">Description</th>
  <th data-sortable="true" data-field="category" id="category_header_id">Category</th>
  <th data-sortable="true" data-field="cost" data-sorter = "dollar_sorter_jb" id="cost_header_id">Cost</th>
  <th data-sortable="true" data-field="user_name"  id="cost_header_id">Cost</th>

  </tr>
  </thead>
