%h2
  Enter or update SKU Type
=form_tag '/manage_sku_result', method: 'get' do

  =render "sku_input_fields"

  %br
  -#=submit_tag 'Cancel', id: 'cancel_btn_id', class: 'btn'
  =button_tag 'Cancel', id: 'cancel_btn_id', class: 'btn'
  =button_tag 'Create', id: 'create_btn_id', class: 'btn btn-primary'
  =button_tag 'Update', id: 'update_btn_id', class: 'btn btn-primary'
  =button_tag 'Delete', id: 'delete_btn_id', class: 'btn btn-primary'
  =submit_tag 'Refresh', id: 'refresh_btn_id', class: 'btn btn-primary'
  =button_tag 'List All SKU Types', id: 'list_all_btn_id', class: 'btn btn-primary'
