%h2
  Enter SKU
=form_tag '/manage_sku_result', method: 'get' do
  =text_field_tag :sku_string, nil, id: 'sku_id', class: 'form-control input-sm'
  =text_field_tag :stock_level_string, nil, id: 'stock_level_id', class: 'form-control input-sm'
  =submit_tag 'Create', id: 'create_btn_id', class: 'btn btn-primary'
  =submit_tag 'Update stock level trigger', id: 'update_btn_id', class: 'btn btn-primary'
  =submit_tag 'Retire', id: 'retire_btn_id', class: 'btn btn-primary'
