%h2
  Login
=form_tag '/set_session_name', method: 'get' do
  %div.row
    %div.col-md-6
      %label{ for: :user_name_id }
        %h3
          Login Name
      =text_field_tag :user_name, nil, id: "user_name_id", class: 'form-control input-sm'
    %div.col-md-6
  %br
  %div.row
    %div.col-md-6
      %label{ for: :user_name_id }
        %h3
          Password
      =text_field_tag :user_password, nil, id: "user_password_id", class: 'form-control input-sm'
    %div.col-md-6
  %br
  %br
  %div.row
    %div.col-md-2
      =submit_tag 'Submit', id: "submit_btn_id", class: 'btn btn-primary'
    %div.col-md-2
      =submit_tag 'Change Password', id: "change_password_id", class: 'btn btn-primary'
    %div.col-md-4
      %button.btn.btn-default{ name: 'commit', value: 'openid_connect', id: "openid_connect_id", style: "display:inline-block" }
        %img{src: "/assets/btn_google_no_border.svg", style: "float:left;margin-right:0.5em"} Login with Google
    %div.col-md-4
