%h2
  Enter Start and End Date
=form_tag '/display_all_transactions', method: 'get' do
  %div.container
    %div.col-sm-3
      %div.input-group.date.datetimepicker_class
        %input.form-control{type: 'text', id: "start_date_id", name: "start_date_name"}
    %div.col-sm-3
      %div.input-group.date.datetimepicker_class
        %input.form-control{type: 'text', id: "end_date_id", name: "end_date_name"}
    %div.col.sm-6
  %br
  %br
  =link_to 'Cancel', "/", id: "cancel_btn_id", class: 'btn btn-default'
  =submit_tag 'Submit', id: 'submit_btn_id', class: 'btn btn-primary'
:javascript
  $(function () { $('.datetimepicker_class input').datepicker(); });
