%h2
  Enter Start and End Date
=form_tag '/display_all_transactions', method: 'get' do
  %div.container
    %div.col-sm-3
      %div.input-group.date.datetimepicker_class
        %input.form-control{type: 'text', id: "start_date_id"}
    %div.col-sm-3
      %div.input-group.date.datetimepicker_class
        %input.form-control{type: 'text', id: "end_date_id"}
    %div.col.sm-6
  %br
  =submit_tag 'Submit', class: 'btn btn-primary'
  :javascript
    $(function () {
    $('.datetimepicker_class input').datepicker();
    });
