%h1
  All Locations
%table{ 'id' => "the_table_id", 'data-height' => "480", 'data-toggle' => "table", 'data-click-to-select' => "true", "data-url" => "all_locations_as_json.json", "data-show-refresh" => "true", "data-show-columns" => "true", "data-striped" =>"true", "data-search" => "true"}
  <thead id="location_table_head_id">
  <tr>
  <th data-sortable="true" data-field="loc" id="sku_header_id">Location</th>
  <th data-sortable="true" data-field="comment" id="comment_id">Comment</th>

  </tr>
  </thead>
