%h1 Locations found
%div.initialHidden
  %table{"id" => "the_table_id", "data-toggle" => "table", "data-locale" => "en-US", |
        "data-search" => "true", "data-show-refresh" => "true", "data-striped" => "true", |
        "data-show-columns" => "true", "data-height" => "350", "data-url"=>"shelf_item_found.json"}
    %thead
      %tr
        %th{"data-sortable" => "true", "data-field"=>"loc"} Location
        %th{"data-sortable" => "true", "data-field"=>"qty"} Quantity
        %th{"data-sortable" => "true", "data-field"=>"sku"} SKU
