%h1
  ="Items in location(s) [#{session[:location_string]}]"
<table id="the_table_id" data-height = "480" data-toggle="table" data-click-to-select="true"  data-url="shelf_item_found.json" data-show-refresh="true" data-show-columns="true" data-striped="true" data-search="true">
<thead>
<tr>
<th data-sortable="true" data-field="bu">BU</th>
<th data-sortable="true" data-field="sku_num">SKU</th>
<th data-sortable="true" data-field="description">Description</th>
<th data-sortable="true" data-field="category">Category</th>
<th data-sortable="true" data-field="qty">Quantity</th>
<th data-sortable="true" data-field="cost">Cost</th>
<th data-sortable="true" data-field="extended">Extended Cost</th>
<th data-sortable="true" data-field="loc">Location</th>
</tr>
</thead>
</table>
