%h2
  Enter location
=form_tag '/manage_location_result', method: 'get' do
  =text_field_tag :location_string, nil, id: 'location_string_id', class: 'form-control input-sm'
  =submit_tag 'Cancel', id: 'cancel_btn_id', class: 'btn btn-default'
  =submit_tag 'Create', id: 'create_btn_id', class: 'btn btn-primary'
  =submit_tag 'Retire', id: 'retire_btn_id', class: 'btn btn-primary'
